<!DOCTYPE html>
<html>
  <head>
    <title>Web Application for car part prediction and damage estimation with single image</title>
  </head>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/upload_completed.css') }}">
  <!-- <form class="form-horizontal" action="/submit" method="post2" enctype="multipart/form-data"> -->

  <div class= "zone">
  <body>
    <h1>Output/h1>
    <img src={{ url_for('static', filename='p01.jpg')}} height="250" alt="processed image">
    <h2> Part   :  {{prediction1}} ปี </h2>
    <h2> Degree   :  {{prediction2}} </h2> 

  </body>
  </div>


</div>
</html>