<!DOCTYPE html>
<html>
  <head>
    
    <title>Web Application for Car Part Prediction with Single Image</title>
  </head>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/upload_completed.css') }}">
  <!-- <form class="form-horizontal" action="/submit" method="post2" enctype="multipart/form-data"> -->

  <div class= "zone">
  <body>
    <br></br>
    <h1> 🚗 ผลลัพธ์การทำนายชิ้นส่วนรถยนต์และระดับความเสียหาย คือ 🚗 </h1>
    <br></br>
    <img src={{ url_for('static', filename='p01.jpg')}} height="300" alt="processed image">
    <h2> ชิ้นส่วนที่ได้รับความเสียหายคือ   :  {{prediction1}}  </h2>
     

  </body>
  </div>


</div>
</html>